<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/css/Home.css">
</head>
<body>
    <header>
        <div class = "header_logo">
            <h1>{Finsweet</h1>
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/Blog">Blog</a>
            <a href="/About">About Us</a>
            <a href="/Contact us">Contact us</a>
            <a href="/Subscribe">Contact us</a>
            <button class = "Subs">Subscribe</button>
        </nav>
    </header>
    <div class ="home">
        <a></a>
        <div class="text">
            <h1>POSTED ON <strong>STARTUP</strong></h1><br>
            <h2>Step-by-step guide to choosing great font pairs</h2><br>
            <a>By <a class='name'>James West</a>  |  May 23, 2022 </a><br>
            <br><p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
            <button class = "button_home" src = '/About/'>Read more ></button>
        </div>
    </div>
    <div class = "Posts">
        
        <div class="Featured_Posts">
            <h1 class = "Featured_name">Featured Post</h1>
            
            <img src = "/site-layout-1/templates/static/images/building.png"><br>
            <br><a>By <a class = 'name-posts'>John Doe</a>   l   May 23, 2022<br></a>
            <br><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.<br></strong>
            <br><p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
            <button class = "button_home" src = '/About/'>Read more ></button>
        </div>
        
        <div class = "All_Posts">
            <a>All_Posts</a>
            <div>
                <a>By<a class="name-posts">John Deo</a>   l   Aug 23, 2021 </a>
            </div>
        </div>

    </div>
</body>
</html>